<div style="margin-left: 20px;">
    <h1>Project 3</h1>
        <p>You can continue what you like to do.</p>
    </div>
    <hr>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Main page</a></li>
      <li><a href="/api/getall">Get all</a></li>
      <li><a href="/api/:id">Return one item</a></li>
      <li><a href="/api/add">Create new document</a></li>
      <li><a href="/api/update/:id">Update document</a></li>
      <li><a href="/api/delete/:id">Delete item</a></li>
    </ul>
  </div>
</nav>
<div style="margin-left: 20px">
 <div class="text-center">
   <body>